<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        function zegarek() {
            var data = new Date();
            var godzina = data.getHours();
            var minuta = data.getMinutes();
            var sekunda = data.getSeconds();
            var dzien = data.getDate();
            var dzienN = data.getDay();
            var miesiac = data.getMonth();
            var rok = data.getFullYear();
            if (minuta < 10) minuta = "0" + minuta;
            if (sekunda < 10) sekunda = "0" + sekunda;
            var dni = new Array("niedziela", "poniedziałek", "wtorek", "środa", "czwartek", "piątek", "sobota");
            var miesiace = new Array("stycznia", "lutego", "marca", "kwietnia", "maja", "czerwca", "lipca", "sierpnia", "września", "października", "listopada", "grudnia");
            var pokazDate = '&nbsp;' + dni[dzienN] + ' | ' + dzien + ' ' + miesiace[miesiac] + ' ' + rok + " | " + godzina + ':' + minuta + ':' + sekunda;
            document.getElementById("zegar").innerHTML = pokazDate;
            setTimeout(zegarek, 1000);
        }
    </script>
</head>
<body onload="zegarek()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("SARS-Cov2", "Index", "Stat", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Role", "Index", "Role")</li>

                    <!--MapaPolski i dane z ostatniego dnia-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Dane zbiorcze wg. raportów dziennych
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("T | Dane zbiorcze wg. województw", "Index", "TableWojLastDay")</li>
                            <li>@Html.ActionLink("T | Dane zbiorcze wg. miast", "Index", "TablePowLastDay")</li>
                            <li>@Html.ActionLink("W | Zgony wg. województw", "Index", "WojLastDayAvg")</li>
                            <li>@Html.ActionLink("W | Zgony wg. miast", "Index", "PowLastDayAvg")</li>
                            <li>@Html.ActionLink("M | Osoby objęte kwarantanną wg. województw", "Indexc", "Poland")</li>
                            <li>@Html.ActionLink("M | Ozdrowieńcy wg. województw", "Indexd", "Poland")</li>
                            <li>@Html.ActionLink("M | Osoby z poprzedniej doby z wynikiem pozytywnym", "Indexe", "Poland")</li>
                            <li>@Html.ActionLink("M | Liczba testów negatywnych, które spłynęły w ciągu ostatniej doby", "Indexf", "Poland")</li>
                            <li>@Html.ActionLink("M | Liczba testów pozytywnych, które spłynęły w ciągu ostatniej doby", "Indexg", "Poland")</li>
                            <li>@Html.ActionLink("M | Liczba wykonanych testów", "Indexh", "Poland")</li>
                            <li>@Html.ActionLink("M | Liczba testów zleconych przez podstawową opiekę zdrowotną", "Indexi", "Poland")</li>
                            <li>@Html.ActionLink("M | Zgony", "Indexj", "Poland")</li>
                            <li>@Html.ActionLink("M | Zgony w wyniku covid bez chorób współistniejących", "Indexk", "Poland")</li>
                            <li>@Html.ActionLink("M | Zgony w wyniku covid i chorób współistniejących ", "Indexl", "Poland")</li>
                        </ul>
                    </li>

                    <!--Wojewodztwa-->>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Województwa
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">

                            <li>@Html.ActionLink("T | Dane:Województwa", "Index", "Woj")</li>
                            <li>@Html.ActionLink("T | Filtrowanie wg. daty", "Index", "WojFilter")</li>
                            <li>@Html.ActionLink("T | Filtrowanie wg. województw i miesiąca", "Index", "WojFilterDropdawn")</li>
                            <li>@Html.ActionLink("T | Raport statystyczny wg. miesięcy", "RaportWoj", "Woj")</li>
                            <li>@Html.ActionLink("T | Raport statystyczny", "Raport", "Woj")</li>
                            <li>@Html.ActionLink("W | Zgony wg. województw i daty: Zoom", "Index", "WojZgonyAll")</li>
                            <li>@Html.ActionLink("W | Testy wg. województw i daty: Zoom", "Index", "WojTestyAll")</li>
                            <li>@Html.ActionLink("W | Zgony wg. województw i daty", "Index", "WojPie")</li>
                            <li>@Html.ActionLink("W | Trend miesięczny zgonów", "Index", "WojTrendMonth")</li>
                            <li>@Html.ActionLink("W | Trend zgonów z ostatnich 14 dni", "Index", "WojTrendDay14")</li>
                            <li>@Html.ActionLink("W | Regresja liniowa i wykładnicza", "Index", "WojRegressionDay14")</li>
                            <li>@Html.ActionLink("W | Histogram zgonów", "Index", "WojZgonyHistogram")</li>
                        </ul>
                    </li>

                    <!--Miasta-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Miasta 
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("T | Dane:Miasta", "Index", "Pow")</li>
                            <li>@Html.ActionLink("T | Filtrowanie wg. daty", "Index", "PowFilter")</li>
                            <li>@Html.ActionLink("T | Filtrowanie wg. miast i miesiąca", "Index", "PowFilterDropdawn")</li>
                            <li>@Html.ActionLink("T | Raport statystyczny wg. miesięcy", "RaportPow", "Pow")</li>
                            <li>@Html.ActionLink("T | Raport statystyczny", "Raport", "Pow")</li>
                            <li>@Html.ActionLink("W | Zgony wg. miast i daty: Zoom", "Index", "PowZgonyAll")</li>
                            <li>@Html.ActionLink("W | Testy wg. miast i daty: Zoom", "Index", "PowTestyAll")</li>
                            <li>@Html.ActionLink("W | Zgony wg. miast i daty", "Index", "PowPie")</li>
                            <li>@Html.ActionLink("W | Trend miesięczny zgonów", "Index", "PowTrendMonth")</li>
                            <li>@Html.ActionLink("W | Trend zgonów z ostatnich 14 dni", "Index", "PowTrendDay14")</li>
                            <li>@Html.ActionLink("W | Regresja liniowa i wykładnicza", "Index", "PowRegressionDay14")</li>
                        </ul>
                    </li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <table>
                <tr>
                    <td style="font-weight:bold;">&copy; @DateTime.Now.Year - My ASP.NET Application &nbsp; </td>
                    <td style="font-weight:bold;"> &nbsp;|&nbsp;Praca inżynierska PŁ WEEIA &nbsp; &nbsp;|&nbsp;</td>
                    <td style="font-weight:bold;"> &nbsp;&nbsp;Mariusz Witczak indeks: 218186 &nbsp;|&nbsp;</td>
                    <td id="zegar" style=" font-weight:bold; color: green;"></td>
                </tr>
            </table>
        </footer>
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<!--login:Admin pass:Admin1!-->