@model SARSCOV2.ModelsDB.woj_source

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>woj_source</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.wojewodztwo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.wojewodztwo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.wojewodztwo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liczba_przypadkow, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liczba_przypadkow, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.liczba_przypadkow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liczba_na_10_tys_mieszkancow, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liczba_na_10_tys_mieszkancow, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.liczba_na_10_tys_mieszkancow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zgony, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zgony, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zgony, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zgony_w_wyniku_covid_bez_chorob_wspolistniejacych, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zgony_w_wyniku_covid_bez_chorob_wspolistniejacych, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zgony_w_wyniku_covid_bez_chorob_wspolistniejacych, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zgony_w_wyniku_covid_i_chorob_wspolistniejacych, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zgony_w_wyniku_covid_i_chorob_wspolistniejacych, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zgony_w_wyniku_covid_i_chorob_wspolistniejacych, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liczba_zlecen_poz, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liczba_zlecen_poz, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.liczba_zlecen_poz, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liczba_ozdrowiencow, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liczba_ozdrowiencow, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.liczba_ozdrowiencow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liczba_osob_objetych_kwarantanna, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liczba_osob_objetych_kwarantanna, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.liczba_osob_objetych_kwarantanna, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liczba_wykonanych_testow, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liczba_wykonanych_testow, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.liczba_wykonanych_testow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liczba_testow_z_wynikiem_pozytywnym, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liczba_testow_z_wynikiem_pozytywnym, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.liczba_testow_z_wynikiem_pozytywnym, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liczba_testow_z_wynikiem_negatywnym, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liczba_testow_z_wynikiem_negatywnym, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.liczba_testow_z_wynikiem_negatywnym, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liczba_pozostalych_testow, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liczba_pozostalych_testow, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.liczba_pozostalych_testow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.teryt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.teryt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.teryt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stan_rekordu_na, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stan_rekordu_na, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stan_rekordu_na, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
   