@model IEnumerable<SARSCOV2.ModelsDB.woj_source>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>Dane dzienne z poszczególnych województw</p>
<table class="table ">
    <tr>
        <th>
            data
           <!-- @Html.DisplayNameFor(model => model.stan_rekordu_na) -->
        </th>

        <th>
            województwo
            <!--@Html.DisplayNameFor(model => model.wojewodztwo) -->

        </th>
        <th>
            l.przypadków
            <!--@Html.DisplayNameFor(model => model.liczba_przypadkow)-->
        </th>
       <!--
        <th>
            @Html.DisplayNameFor(model => model.liczba_na_10_tys_mieszkancow)
        </th>
           -->
    <th>
        zgony 
        <!--@Html.DisplayNameFor(model => model.zgony)-->
    </th>
    <th>
        zgony w wyniku covid
        <!--@Html.DisplayNameFor(model => model.zgony_w_wyniku_covid_bez_chorob_wspolistniejacych)-->
      
    </th>
        <th>
        zgony w wyniku covid i innych chorób 
        <!--@Html.DisplayNameFor(model => model.zgony_w_wyniku_covid_i_chorob_wspolistniejacych)-->
        </th>
        <th>
            @Html.DisplayNameFor(model => model.liczba_zlecen_poz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.liczba_ozdrowiencow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.liczba_osob_objetych_kwarantanna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.liczba_wykonanych_testow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.liczba_testow_z_wynikiem_pozytywnym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.liczba_testow_z_wynikiem_negatywnym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.liczba_pozostalych_testow)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.teryt)
        </th>
            -->

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.stan_rekordu_na)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.wojewodztwo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.liczba_przypadkow)
    </td>

    <!--
    <td>
        @Html.DisplayFor(modelItem => item.liczba_na_10_tys_mieszkancow)
    </td>
        -->

    <td>
        @Html.DisplayFor(modelItem => item.zgony)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.zgony_w_wyniku_covid_bez_chorob_wspolistniejacych)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.zgony_w_wyniku_covid_i_chorob_wspolistniejacych)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.liczba_zlecen_poz)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.liczba_ozdrowiencow)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.liczba_osob_objetych_kwarantanna)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.liczba_wykonanych_testow)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.liczba_testow_z_wynikiem_pozytywnym)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.liczba_testow_z_wynikiem_negatywnym)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.liczba_pozostalych_testow)
    </td>

    <!--
    <td>
        @Html.DisplayFor(modelItem => item.teryt)
    </td>
     -->

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
