@model SARSCOV2.ModelsDB.pow_target

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pow_target</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.wojewodztwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wojewodztwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.powiat_miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.powiat_miasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liczba_przypadkow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczba_przypadkow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liczba_na_10_tys_mieszkancow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczba_na_10_tys_mieszkancow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zgony)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zgony)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zgony_w_wyniku_covid_bez_chorob_wspolistniejacych)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zgony_w_wyniku_covid_bez_chorob_wspolistniejacych)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zgony_w_wyniku_covid_i_chorob_wspolistniejacych)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zgony_w_wyniku_covid_i_chorob_wspolistniejacych)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liczba_zlecen_poz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczba_zlecen_poz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liczba_ozdrowiencow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczba_ozdrowiencow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liczba_osob_objetych_kwarantanna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczba_osob_objetych_kwarantanna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liczba_wykonanych_testow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczba_wykonanych_testow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liczba_testow_z_wynikiem_pozytywnym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczba_testow_z_wynikiem_pozytywnym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liczba_testow_z_wynikiem_negatywnym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczba_testow_z_wynikiem_negatywnym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liczba_pozostalych_testow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczba_pozostalych_testow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teryt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teryt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stan_rekordu_na)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stan_rekordu_na)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
