@model IEnumerable<SARSCOV2.ModelsDB.woj_target>

<!--WojFilter-->
@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        th div {
            transform: rotate(270deg);
            height: 200px;
            width: 200px;
            padding: 0px 0px 0px 0px;
        }
    </style>
</head>


@using (Html.BeginForm("Index", "WojFilter", FormMethod.Post))
{
<h4>
    <span>Data początkowa:</span><input type="date" name="From" value="2021-01-28" min="2021-01-28" />
    <span>Data końcowa:</span><input type="date" name="To" value="2021-01-28" min="2021-01-28" /><br/>
    <span>Wojewodztwo:</span>
    <select id="wojewodztwo" name="wojewodztwo">
        <option value="dolnoslaskie">dolnoslaskie</option>
        <option value="kujawsko-pomorskie">kujawsko-pomorskie</option>
        <option value="lodzkie">lodzkie</option>
        <option value="lubelskie">lubelskie</option>
        <option value="malopolskie">malopolskie</option>
        <option value="mazowieckie">mazowieckie</option>
        <option value="opolskie">opolskie</option>
        <option value="podkarpackie">podkarpackie</option>
        <option value="podlaskie">podlaskie</option>
        <option value="pomorskie">pomorskie</option>
        <option value="slaskie">slaskie</option>
        <option value="swietokrzyskie">swietokrzyskie</option>
        <option value="warminsko-mazurskie">warminsko-mazurskie</option>
        <option value="wielkopolskie">wielkopolskie</option>
        <option value="zachodniopomorskie">zachodniopomorskie</option>
    </select><br/><br/>
    <input type="submit" value="Wyszukaj">
</h4>

        <table  style="position: relative;" class="table table-bordered table-hover;">
            <tr>
                <th>
                    <div>data
                    <!--atHtml.DisplayNameFor(model => model.stan_rekordu_na)-->
                    </div>
                </th>
                <th><div>
                    województwo
                    <!--atHtml.DisplayNameFor(model => model.wojewodztwo)-->
                    </div>
                </th>
                <th>
                    <div>
                     liczba przypadkow
                   <!-- atHtml.DisplayNameFor(model => model.liczba_przypadkow)-->
                </div>
                </th>
                <th>
                    <div>
                    zgony
                    <!--atHtml.DisplayNameFor(model => model.zgony)-->
                    </div>
                </th>
                <th>
                    <div>
                    zgony w wyniku covid bez chorob wspolistniejacych
                        <!--
                    atHtml.DisplayNameFor(model => model.zgony_w_wyniku_covid_bez_chorob_wspolistniejacych)
                    -->
                    </div>
                </th>
                <th>
                    <div>
                        <!--
                        atHtml.DisplayNameFor(model => model.zgony_w_wyniku_covid_i_chorob_wspolistniejacych)
                        -->
                        zgony w wyniku covid bez chorob wspolistniejacych

                    </div>
                </th>
                <th>
                    <div>
                    <!--
                    atHtml.DisplayNameFor(model => model.liczba_zlecen_poz)
                    --> 
                    liczba zlecen pozytywnych 
                    </div>               
                </th>
                <th>
                    <div>
                    <!-- 
                    atHtml.DisplayNameFor(model => model.liczba_ozdrowiencow)
                    -->
                    liczba ozdrowiencow   
                    </div>
                </th>
                <th>
                    
                    <div>
                        <!--
                    atHtml.DisplayNameFor(model => model.liczba_osob_objetych_kwarantanna)
                    -->
                        liczba osob objetych kwarantanna
                    </div>
                </th>
                <th>
                    <div> 
                        <!--
                    atHtml.DisplayNameFor(model => model.liczba_wykonanych_testow)
                    -->
                        liczba wykonanych testow
                    </div>
                </th>
                <th>
                    <div>
                        liczba testow z wynikiem pozytywnym
                     <!--   
                         atHtml.DisplayNameFor(model => model.liczba_testow_z_wynikiem_pozytywnym)
                    -->
                         </div>
                </th>
                <th>
                    <div>
                        <!--
                    atHtml.DisplayNameFor(model => model.liczba_testow_z_wynikiem_negatywnym)
                    -->
                    liczba testow z wynikiem pozytywnym
                    </div>
              </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.stan_rekordu_na)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.wojewodztwo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.liczba_przypadkow)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.zgony)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.zgony_w_wyniku_covid_bez_chorob_wspolistniejacych)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.zgony_w_wyniku_covid_i_chorob_wspolistniejacych)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.liczba_zlecen_poz)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.liczba_ozdrowiencow)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.liczba_osob_objetych_kwarantanna)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.liczba_wykonanych_testow)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.liczba_testow_z_wynikiem_pozytywnym)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.liczba_testow_z_wynikiem_negatywnym)
                    </td>
                </tr>
            }
        </table>
        }
